# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Reports
reports/allure-report
reports/allure-results
reports/har/

# Build
dist/

# Playwright MCP
.playwright-mcp/

